/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)

1 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/************* HEADER-CONTACT *************/

.header-section {
    background-color: #fff;
}

.header-contacts {
    display: flex;
    font-size: 1.6rem;
    color: #696969;
}

.header-between {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0.5rem 0em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background-color: #e1e1e1;
    border: none;
    border-radius: 40rem;
    padding: 0.4rem 0.8rem;

    font-size: 1.4rem;
    position: relative;
}

.search-icon {
    position: absolute;
    right: -3%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
}

.padding {
    padding: 0 2rem;
}
/************* HEADER-NAVI *************/

.nav {
    background-color: #222222;
    border-bottom: 3px solid #7c9c37;
    flex-wrap: wrap;
}
.nav-cont {
    max-width: 120rem;
    margin: 0 auto;
}
.navi-container {
    max-width: 160rem;
    padding: 0.5rem 0rem;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-transform: uppercase;
}

.navi-container p {
    text-transform: lowercase;
    font-size: 1.2;
}

.logo {
    padding: 2rem 0;
    align-items: center;
    cursor: pointer;
}

.logo h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.logo span {
    font-size: 4rem;
}

.logo p {
    text-transform: none;
    font-size: 1.4rem;
}

.navigationn {
    display: flex;
    font-size: 1.6rem;
}

.navigation-boxs {
    padding: 0 2rem;
    border-right: 1px solid #fff;
}

.navigation-boxs a {
    text-decoration: none;
    color: #fff;
}

.navigation-boxs a:hover {
    color: #7c9c37;
}

.navigation-boxs p {
    color: #cccccc;
}

.navigation-boxs:last-child {
    border-right: none;
    padding-right: 0;
}

.navigationn li {
    list-style: none;
}

/************* SLIDER *************/

.slider {
    flex-wrap: wrap;
    background-color: #333333;
    min-height: 380px;
}
.slider-cont {
    max-width: 120rem;
    margin: 0 auto;
}
.parrent-arrow {
    max-width: 160rem;
    /* padding: 0 3.2rem; */
    margin: 0 auto;

    height: 38rem;
    position: relative;
}

.slider-container p {
    font-size: 2.8rem;
    color: #fff;
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.arrow-icon {
    font-size: 2.4rem;
    color: #666666;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #666666;
    padding: 2px;
    position: absolute;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: 0%;
    font-size: 4rem;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: 0%;
    font-size: 4rem;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    max-width: 100%;
}

/************* SHOUT *************/
.shout {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.shout div {
    max-width: 160rem;
    text-align: center;
    /* border-bottom: 2px solid #e8e8e8; */
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #fff, #e8e8e8, #e8e8e8, #fff);
    border-image-slice: 1;
}

.shout div p {
    font-size: 3.4rem;
    line-height: 50px;
    margin: 5rem 0;
}

/************* LATEST WORK *************/

.latest-work {
    padding: 6rem 2rem;
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 6rem auto;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #fff, #e8e8e8, #e8e8e8, #fff);
    border-image-slice: 1;
}

.last-work-box {
    height: 14rem;
    max-width: 22.5rem;
    line-height: 14rem;
    font-size: 2rem;
    background-color: #333333;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.last-work-text {
    background-color: #f0f0f0;
    max-width: 22.5rem;
}

.last-work-text h3 {
    padding: 1rem 1rem 1rem 1rem;
    color: #7c9c37;
    font-size: 1.6rem;
}

.last-work-text p {
    color: #666666;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
}

/************* CONTENT *************/
.content {
    /* height: 50rem; */
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.services {
    padding-right: 2rem;
    max-width: 50%;
}

.service-rows {
    display: flex;
}

.services-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e8e8e8;
    align-items: center;
}

.services-heading-lorem p {
    font-size: 2.6rem;
    padding-bottom: 1rem;
}

.services-box {
    display: flex;
    margin-top: 3rem;
}

.services-box-item {
    background-color: #353535;
    color: #e1e1e1;
    height: 48px;
    max-width: 48px;
    text-align: center;
    line-height: 48px;
}

.services-heading-view a {
    padding-bottom: 1rem;
    text-decoration: none;
    color: #7c9c37;
    font-size: 1.4rem;
}

div a .material-symbols-outlined {
    font-size: 13px;
}
.services-box-textdiv {
    padding-left: 2rem;
}

.services-box-textdiv h3 {
    color: #7c9c37;
    font-size: 2rem;
    margin: 0 1rem 1rem 0rem;
}

.services-box-textdiv p {
    width: 70%;
    font-size: 1.4rem;
}

.services-box p {
    padding-right: 1rem;
}

/* ---- */

.team-members-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    justify-content: space-between;
    width: 50%;
}

.team-members-heading {
    border-bottom: 2px solid #e8e8e8;
}

.team-members {
    margin-top: 3rem;
}

.team-members img {
    background-color: #e2e2e2;
    padding: 2rem 2rem 0 2rem;
}

.heads-img {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.team-name {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #7c9c37;
}

.team-name span {
    font-weight: bold;
    color: #666666;
}
.team-members .services-heading-view {
    font-size: 2em;
}

/************* FOOTER *************/
footer {
    background-color: #222222;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.footer-h3 {
    text-transform: uppercase;
    color: #666666;
    font-size: 2rem;
    padding: 2.5rem 0;
}
/* -------------- ABOUT US -------------- */
.about-us {
    max-width: 25%;
    height: 40rem;
}

.abouts-us-box {
    height: 9rem;
    /* width: 21.5rem; */
    background-color: #333333;
    color: #fff;
    line-height: 9rem;
    text-align: center;
    font-size: 1.6rem;

    border: 1px solid #3a3a3a;
    padding: rem;
}
.abouts-us-border {
    border: 2px solid #3a3a3a;
    padding: 0.5rem;
    margin: 2rem 2rem 2rem 0;
}

.about-us-p {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 1rem;
}

/* -------------- LINK BLOCK --------------  */
.link-block {
    color: #666666;
    margin: 0 2rem 3rem 0;
    max-width: 25%;
}
.link-block span {
    font-size: 1rem;
    color: #666666 !important;
}
.link-block p {
    font-size: 1.6rem;
    color: #7c9c37;
}

.link-block-divs {
    padding: 0.6rem 0.5rem 0.5rem 0;
    border-bottom: 1px solid #3a3a3a;
}

/* <!-- ------- FROM THE BLOG ------- --> */

.from-the-blog {
    max-width: 25%;
}
.from-the-blog-div1 {
    margin-bottom: 2rem;
}
.from-the-blog-h3 {
    font-size: 2rem;
    color: #666666;
}
.from-the-blog-h3-span {
    color: #666666;
    font-size: 1.2rem;
}

.from-the-blog-h3-span-p {
    margin-top: 0rem;
    color: #666666;
    font-size: 1.6rem;
    line-height: rem;
}

.from-the-blog .services-heading-view {
    margin-top: 1.4rem;
}

/* Contact us */

.contact-us {
    margin-bottom: 3rem;
    max-width: 25%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input,
button {
    background-color: #353535;
    color: #807d77;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 7px;
}

.form button {
    background-color: #7c9c37;
    color: #fff;
    text-transform: uppercase;
    max-width: 40%;
    cursor: pointer;
}

.form input {
    border: none;

    resize: none;
    outline: none;
}

.contact-us-contacts {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 2rem;
}

.contact-email {
    color: #7c9c37;
}

/************* COPYRIGHT *************/
.copy {
    background-color: #222222;
}
.copyright {
    border-top: 1px solid #3a3a3a;
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    color: #666666;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 1.6rem;
}