/* Title color - #4073de */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    background-color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Header */
header {
    position: relative;
    margin-bottom: 12rem;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 4.6rem;
    height: 10rem;
}

.logo {
    cursor: pointer;
    position: relative;
}

.logo_title {
    font-size: 4rem;
    color: #4073de;
}

.logo_title span {
    font-size: 2rem;
    position: absolute;
}

.navi ul {
    display: flex;
    /* gap: 2.6rem; */
    font-size: 2rem;
}

.navi ul li {
    padding: 6% 2rem;
}

.navi ul li:last-child {
    padding-right: 2.6rem;
}
.navi ul li a {
    color: #000;
    font-weight: 500;
    padding: 43% 2rem;
}

.navi ul li:hover {
    cursor: pointer;
    /* background: rgb(175, 92, 252);
    background: linear-gradient(
        180deg,
        rgba(231, 92, 252, 100) 0%,
        rgba(21, 31, 209, 100) 100%
    ); */

    background: rgb(187, 92, 255);
    background: linear-gradient(
        180deg,
        rgba(187, 92, 255, 1) 0%,
        rgba(20, 94, 209, 1) 100%
    );
}

.navi ul li a:hover {
    color: #fff;
}

header section {
}

.header-section_img {
    width: 100%;
}

/*  */

.header-section-box {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 5.4rem;
    gap: 1.6rem;
    position: absolute;
    bottom: -10%;
}

.header-section_boxes {
    display: flex;
    padding: 2rem;
    gap: 1.7rem;
    position: relative;
    color: #fff;
}

.header-section-box div h3 {
    font-size: 3.6rem;
}

.header-section-box div p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.header-section-box_arrow {
    width: 20%;
    position: relative;
}

.md {
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.header-box_1 {
    background: rgb(255, 175, 0);
    background: linear-gradient(
        180deg,
        rgba(255, 175, 0, 1) 0%,
        rgba(255, 134, 21, 1) 100%
    );
}

.header-box_2 {
    background: rgb(187, 92, 255);
    background: linear-gradient(
        180deg,
        rgba(187, 92, 255, 1) 0%,
        rgba(20, 94, 209, 1) 100%
    );
}

.header-box_3 {
    background: c;
    background: linear-gradient(
        180deg,
        rgba(255, 47, 80, 1) 0%,
        rgba(255, 28, 151, 1) 100%
    );
}

.header-box_4 {
    background: rgb(255, 20, 231);
    background: linear-gradient(
        180deg,
        rgba(255, 20, 231, 1) 0%,
        rgba(183, 31, 224, 1) 100%
    );
}

/* Main */

/* Section1 */
.section1-the_school {
    margin: 0 4.6rem;
}

.section1_title {
    padding: 0%;
}
.section1-our_school-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.sec1_img {
    width: 100%;
}

.section-our_school-text,
.section-lessons-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

.section1_box {
    background-color: #ececec;
}

.section1_title {
    font-weight: 500;
    font-size: 3.4rem;
}
body
    > main
    > section.section1-the_school
    > div
    > div.section-our_school-text.section1_box
    > p {
    margin: 3rem 0;
}

.section1_box .section1_title p {
    font-size: 12rem;
}

.btn {
    padding: 2.5rem 5rem;
    width: 26rem;
    font-size: 1.8rem;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    background: rgb(255, 139, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 139, 0, 1) 0%,
        rgba(255, 48, 79, 1) 100%
    );
}

.btn:hover {
    /* transform: scale(1.1); */
    /* transition: 0.3s; */

    color: #fff;
    background: rgb(255, 47, 80);
    background: linear-gradient(
        180deg,
        rgba(187, 92, 255, 1) 0%,
        rgba(20, 94, 209, 1) 100%
    );
}

/* section2 school-rated */

.section2-school_rated {
    background-image: url(/SwimmingLanding/assets/section2-school-rated-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 5rem 0;
    height: 70rem;
    color: white;
}

body > main > section.section2-school_rated > div > div {
    background-color: #ff012d;
    opacity: 0.9;
    display: inline-block;
    height: 70rem;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    width: 45%;
}

body > main > section.section2-school_rated > div > div > p:nth-child(3) {
    padding: 3rem 0;
}
.btn-sec2 {
    padding: 2.5rem 5rem;
    width: 26rem;
    font-size: 1.8rem;
    border: none;
    color: #000;
    cursor: pointer;

    background: #fff;
}

.btn-sec2:hover {
    /* transform: scale(1.1); */
    /* transition: 0.3s; */

    color: #fff;
    background: rgb(187, 92, 255);
    background: linear-gradient(
        180deg,
        rgba(187, 92, 255, 1) 0%,
        rgba(20, 94, 209, 1) 100%
    );
}
