@media screen and (max-width: 1600px) {
    .textureR {
        display: none;
    }

    .textureL {
        display: none;
    }
    .docors-bedroms-texture {
        display: none;
    }

    .tips-to-decorate ul {
        max-width: 60%;
    }

    .sec2-shape {
        max-width: 500px;
    }
}
@media screen and (max-width: 1455px) {
    .header {
        margin: 0 50px;
    }
    .header-texture {
        display: none;
    }

    .text {
        margin-left: 0;
    }
    .sec7-texture {
        display: none;
    }

    .sec-texture-White {
        display: none;
    }

    .header-form {
        bottom: 5%;
        right: 5%;
    }

    .navi div ul li a {
        justify-content: space-between;
        padding: 10px;
    }

    body > header > nav > div:nth-child(1) > ul > li:nth-child(5) > a {
        padding-right: 40px;
    }

    body > header > nav > div.contact > ul > li:nth-child(1) > a {
        padding-left: 40px;
    }

    .text-header2 {
        margin-top: 20px;
    }

    .tips-to-decorate ul {
        max-width: 60%;
    }

    .sec6-img {
        display: none;
    }

    .sec6-box-form {
        margin: 0 auto;
    }

    .sec5-do-it {
        justify-content: center;
    }

    .sec3-texture {
        display: none;
    }
    .sec2-shape {
        max-width: 400px;
    }

    .sec5-do-it {
        padding-left: 0;
        margin: 50px;
        margin-top: 70px;
        justify-content: flex-start;
    }

    .sec6-shape {
        display: none;
    }

    .sec3-img {
        display: none;
    }

    .subs-newsletter {
        align-items: center;
    }

    .subs-headings,
    .subs-headings2 {
        text-align: center;
    }

    .subs-form {
        text-align: center;
    }

    .subs-form p {
        text-align: center;
    }

    .this-is-kyla {
        flex-direction: column-reverse;
        align-items: center;
    }

    .text {
        max-width: 100%;
        text-align: center;
    }

    .text p {
        margin-top: 0;
    }

    .sec7-discounts {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1420px) {
    .decors-shape {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .sec4-new-season h1 {
        margin-top: 70px;
    }

    .sec2-shape {
        max-width: 350px;
    }

    .sec7-discounts {
        justify-content: center;
        margin: 100px auto;
    }
}

@media screen and (max-width: 1380px) {
    .footer {
        justify-content: space-between;
        padding: 50px 40px;
    }
    .tips-to-decorate ul {
        max-width: 80%;
    }
    .tips-to-decorate ul {
        max-width: 77%;
    }
}

@media screen and (max-width: 1300px) {
    .this-is-kyla {
        margin: 50px auto;
    }

    .sec2-shape {
        max-width: 350px;
    }

    .sec5-paint-shape {
        display: none;
    }

    .decors-line {
        display: none;
    }

    .text-header2 {
        margin-top: 20px;
    }

    .text p {
        margin-bottom: 20px;
    }

    .decors {
        flex-direction: column;
        align-items: center;
    }

    .sec4-new-season h1 {
        margin-bottom: 60px;
    }

    .decors-decors-box {
        max-width: 500px;
        height: auto;
    }

    .decor-decorimg {
        width: 500px;
        height: 400px;
    }

    .decors-bedroms-box {
        max-width: 500px;
    }

    .sec4-bedrooms_img {
        width: 500px;
        height: 400px;
    }

    .vaze-box {
        justify-content: center;
        max-width: 500px;
    }

    .vaze-box-img {
        position: static;
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width: 1250px) {
    .menu-btn {
        display: block;
    }

    .navi {
        display: none;
        margin: 30px 0 0 0;
    }

    .navi.active {
        margin-top: 60px;
        padding-top: 10px;
        border-top: 1px solid #929292;
        display: block;
    }
    .nav li {
        margin: 15px 0;
    }
    .nav li a.active::after {
        display: none;
    }

    .navi div ul {
        justify-content: left;
        gap: 20px;
    }

    .navi div:first-child {
        margin-bottom: 20px;
    }

    .contact ul li:first-child:before {
        content: "";
        border-right: none;
    }

    body > header > nav > div.contact > ul > li:nth-child(1) > a {
        padding-left: 10px;
    }

    body > header > nav > div.contact > ul > li:nth-child(1) > a {
        padding-left: 10px;
    }

    .sec2-shape {
        max-width: 300px;
    }

    .sec5-rectangle {
        display: none;
    }

    .sec5-do-it {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    .image {
        max-width: 700px;
    }

    .footer {
        gap: 20px;
    }

    .footer-list {
        line-height: 34px;
    }

    .footer-headings {
        font-size: 20px;
    }

    .footer-headings2 {
        font-size: 22px;
    }

    .footer-header1 {
        font-size: 19px;
    }

    .footer-header2 {
        font-size: 54px;
    }

    .buff {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1141px) {
    .header-form {
        bottom: 0;
        right: 2%;
    }
    .header-form-input {
        padding: 5px 10px;
        font-size: 12px;
        width: 100%;
    }

    .header-form-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .sec2-shape {
        width: 250px;
    }
}
@media screen and (max-width: 1121px) {
    .sec7-2pics-first {
        position: static;
    }
    .sec7-2pics {
        margin-top: 0;
    }
}

@media screen and (max-width: 1111px) {
    .text-header1 {
        margin-top: 0;
    }
    .tips-to-decorate {
        padding: 30px;
    }
    .tips-to-decorate ul {
        max-width: 92%;
    }

    .image {
        max-width: 650px;
    }
    .sec2-shape {
        width: 200px;
        bottom: 8px;
        right: -10px;
    }

    .sec-imgs-big-img {
        max-width: 750px;
    }

    .sec7-bigimg-shape {
        width: 150px;
    }
    .sec7-discounts {
        flex-direction: column;
        align-content: center;
    }

    .sec7-2pics-first {
        position: static;
    }

    .footer {
        flex-direction: column;
    }

    .footer-header1 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 950px) {
    .image {
        max-width: 600px;
    }

    .tips-to-decorate-p {
        padding: 0 20px;
    }

    .text {
        padding: 0 20px;
    }
    .subs-form p {
        padding: 0 20px;
    }
    .sec5-do-it {
        padding: 20px;
    }
    .sec5-img {
        max-width: 600px;
    }
    .sec5-shape {
        max-width: 170px;
    }
    .sec6-box-img {
        padding: 0 20px;
    }
}

@media screen and (max-width: 850px) {
    .rooms {
        flex-direction: column;
    }
    .contact ul {
        flex-direction: column;
    }
    body > header > nav > div:nth-child(1) > ul > li:nth-child(2) > a {
        padding: 0 10px;
    }
    body > header > nav > div:nth-child(1) > ul > li:nth-child(3) > a {
        padding: 0 10px;
    }

    .image {
        max-width: 500px;
    }
}

@media screen and (max-width: 800px) {
    header h1 {
        line-height: 42px;
    }

    header div p {
        line-height: 32px;
    }

    .header-form {
        position: static;
        margin-top: 35px;
    }

    .header-form-input {
        border: 1px solid #929292;
        border-radius: 5px;
    }

    .header-section div {
        display: block;
    }

    .text-header1,
    .text-header2 {
        font-size: 24px;
    }

    .sec7-line {
        margin-right: 0;
    }
    .sec5-do-it {
        padding: 0 20px;
    }

    .subscription {
        padding: 0 20px;
    }

    .subs-headings,
    .subs-headings2 {
        font-size: 24px;
    }

    .tips-to-decorate ul {
        max-width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .image {
        max-width: 400px;
    }
    .sec2-shape {
        width: 150px;
    }

    .decor-decorimg,
    .decors-bedroms-box,
    .sec4-bedrooms_img,
    .vaze-box-img,
    .image {
        width: 400px;
    }

    .sec5-img {
        width: 450px;
    }
    .sec5-small-img {
        width: 250px;
    }
    .sec5-shape {
        max-width: 120px;
    }

    .sec5-rounder1 {
        top: 30%;
        right: -3%;
    }
    .sec5-rounder2 {
        top: 44%;
        right: -3%;
    }

    .sec5-rounder3 {
        right: -3%;
    }
    .sec7-2pics-first {
        width: 350px;
    }
}

@media screen and (max-width: 722px) {
    .sec4-new-season h1 {
        font-size: 36px;
    }

    .sec2-shape {
        width: 200px;
        bottom: 0px;
        right: 0;
    }
    .sec2-shape {
        width: 150px;
    }
}

@media screen and (max-width: 670px) {
    header div h1 {
        font-size: 52px;
    }

    body > header > div > p {
        font-size: 18px;
    }

    .header-section div {
        flex-direction: column-reverse;
        gap: 0;
    }

    header div p {
        line-height: 32px;
    }

    .tips-to-decorate {
        padding: 0 30px;
    }

    .tips-h1,
    .text-header1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 620px) {
    .decors-bedroms-bedp2 {
        text-align: center;
    }
    .header-form-input,
    .header-form-btn {
        padding: 5px 5px;
        font-size: 10px;
    }

    .sec5-do-it {
        padding: 30px;
    }

    .sec5-img {
        max-width: 500px;
    }

    .sec7-bigImg_img {
        max-width: 470px;
    }
}

@media screen and (max-width: 572px) {
    .image,
    .subs-form,
    .decor-decorimg,
    .decors-bedroms-box,
    .sec4-bedrooms_img,
    .vaze-box-img,
    .image,
    .sec7-bigImg_img,
    .sec7-2pics-first,
    .sec7-2pics-second {
        max-width: 350px;
        height: auto;
    }

    .subs-img {
        display: none;
    }

    .sec7-2pics-second {
        width: 350px;
        height: auto;
    }

    .sec5-small-img {
        position: static;
        float: right;
        margin: auto;
    }
    .sec5-shape {
        max-width: 100px;
        bottom: -15px;
    }
    .sec5-rounder1 {
        top: 30%;
    }
    .sec5-rounder2 {
        top: 45%;
    }
    .sec5-rounder3 {
        top: 60%;
    }
    .sec5-small-img {
        width: 450px;
    }
    .sec6-box-img h3 {
        margin-top: 0;
    }

    .sec7-2pics-p {
        font-size: 92px;
    }

    .sec7-2pics {
        align-items: flex-start;
    }

    .footer-newsletter {
        max-width: 350px;
    }
}

@media screen and (max-width: 492px) {
    header div h1 {
        font-size: 44px;
        letter-spacing: 2px;
    }

    .sec5-img {
        max-width: 350px;
    }

    .sec5-small-img {
        width: 350px;
        float: none;
    }

    body > header > section > div.color-headings > p:nth-child(2),
    body > header > section > div.color-headings > p:nth-child(1) {
        font-size: 10px;
    }

    body > header > div > p {
        font-size: 11px;
    }

    header-form-input {
        border: 1px solid red;
    }

    .image {
        width: 260px;
    }

    .decor-decorimg {
        width: 260px;
    }
    .decors-bedroms-box {
        width: 260px;

    }
    .sec4-bedrooms_img {
        width: 260px;
    }

    .vaze-box-img {
        width: 260px;
    }
    .sec5-img {
        width: 260px;
    }
    .sec5-small-img {
        width: 260px;
    }
    .sec7-bigImg_img {
        width: 260px;
    }
    .sec7-2pics-first {
        width: 260px;
    }
    .sec7-2pics-second {
        width: 260px;
    }

    .sec7-2pics-p2 {
        margin-top: 0;
    }

    .sec7-2pics-p2 span {
        font-size: 32px;
        margin-top: 0;
    }

    .sec7-2pics-p {
        font-size: 82px;
    }

    .footer-list,
    .footer-newsletter,
    .footer-text {
        max-width: 260px;
    }

    .footer-headings,
    .footer-headings2 {
        font-size: 16px;
    }

    .footer-header2 {
        font-size: 28px;
    }
    .buff {
        margin-top: 20px;
    }
    .footer-header1 {
        font-size: 16px;
    }

    .sec2-shape {
        width: 100px;
    }
    .sec5-rounder1 {
        display: none;
    }
    .sec5-rounder2 {
        display: none;
        
    }

    .sec5-rounder3 {
        display: none;

    }
    .sec5-shape {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .image {
        width: 200px;
    }

    .sec7-2pics-p {
        font-size: 56px;
    }
    .sec7-2pics-p2 {
        font-size: 10px;
    }
}
