*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-headings {
    color: #cb9e61;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: #fefdfc;
    color: #929496;
    font-size: 18px;
}

.sec4-texture {
    position: absolute;
    top: 5%;
    left: 0%;
    z-index: 1;
}

header {
    margin: 70px 70px;
}

header h1 {
    font-size: 62px;
    letter-spacing: 10px;
}

header h1,
header p {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
}

header h1 p {
    letter-spacing: 20px;
    margin-top: 50px;
}
body > header > p {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

/* Navi */

.navi {
    margin: 50px 0;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navi div ul {
    display: flex;
    list-style: none;
}

.navi ul li a {
    text-decoration: none;
    color: #929496;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 30px;
}
.header-input {
    text-transform: uppercase;
}

body > header > nav > div:nth-child(1) > ul > li:nth-child(2) > a {
    padding: 0;
}

body > header > nav > div:nth-child(1) > ul > li:nth-child(5) > a {
    padding-right: 60px;
}

body > header > nav > div:nth-child(1) > ul > li:nth-child(3) > a {
    padding: 0 20px;
}

body > header > nav > div.contact > ul > li:nth-child(1) > a {
    padding-left: 60px;
}

.contact ul li:first-child:before {
    content: "";
    border-right: 2px solid #929496;
}

.contact ul li a {
    font-weight: bold;
}

.header-section div {
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 20px;
}

body > header > section > div.color-headings > p:nth-child(2) {
    z-index: 1;
}

.header-img {
    display: flex;
    align-items: center;
    /* position: relative; */
    max-width: 100%;
}
.header-texture {
    position: absolute;
    top: -8%;
    right: 12%;
}

.header-input {
    padding: 4px 0 0 10px;
    color: #979797;
}

.header-section {
    position: relative;
}
.header-form {
    bottom: 5%;
    right: 16%;
    position: absolute;
}

.header-form-input {
    padding: 10px 0 6px 20px;
    text-transform: uppercase;
    border: none;
}

.header-form-input:hover {
    border: none;
}

.header-form-btn {
    font-family: "Libre Baskerville", serif;
    padding: 6px 40px;
    width: 100%;
    margin-top: 10px;
    background-color: #cb9e61;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}
.header-form-btn:hover {
    color: #929496;
    background-color: #fff;
    transition: 0.3s;
}

/* main */
/* Tips to decorate */

.sec1-texture {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.header-section {
    margin: 40px 0;
}

.tips-to-decorate {
    margin: 0 auto;
}

.tips-h1 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 40px;
}

.tips-to-decorate ul {
    display: flex;
    flex-flow: row wrap;
    max-width: 42%;
    /* gap: 50px; */
    list-style: none;
    margin: 40px auto;
    row-gap: 25px;
    column-gap: 50px;
}

.tips-to-decorate ul li {
    max-width: 233px;
    height: auto;
    flex: 1 0 33%;
    /* min-height: 33.33vh; */
}

.tips-to-decorate ul li a {
    text-decoration: none;
}
.tips-to-decorate ul li p {
    background-color: #8c8c8c;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.tips-to-decorate-p {
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    z-index: 2;
}

/* This is Kyla Section2 */

.this-is-kyla {
    margin: 100px auto 30px auto;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly */
}

.img {
    position: relative;
    max-width: 70%;
}

.image {
    max-width: 1500px;
}

.text {
    margin-left: 20px;
    max-width: 16%;
}

.sec-texture-White {
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: 1;
}

.sec2-shape {
    max-width: 300px;
    position: absolute;
    bottom: -3%;
    right: -15%;
    max-width: 600px;
}

.text-header1 {
    margin-top: 60px;
    font-family: "Libre Baskerville", serif;
    color: #cb9e61;
    font-weight: 100;
    font-size: 28px;
}

.text-header2 {
    font-weight: 100;
    font-family: "Libre Baskerville", serif;
    color: #929496;
    font-size: 28px;
    margin-top: 50px;
}

.text-button {
    font-family: "Libre Baskerville", serif;
    margin: 40px 0px;
    padding: 8px 30px;
    font-size: 14px;
    color: #fff;
    background-color: #cb9e61;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #cb9e61;
}
.text-button:hover {
    background-color: #fff;
    color: #929496;
    border: 1px solid #929496;
}

.text-p {
    font-family: "Allura", cursive;
    font-size: 40px;
    margin-top: 90px;
}

/* Section3 Subscription */

.subscription {
    font-family: "Libre Baskerville", serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: right;
}

.subs-newsletter {
    width: 900px;
    /* padding: 0 50px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.sec3-texture {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
}

.subs-img {
    max-width: 30%;
    margin-left: 40px;
}

.subs-headings {
    color: #cb9e61;
    font-size: 28px;
    /* align-items: flex-end; */
    text-align: end;
    margin-bottom: 10px;
}

.subs-headings2 {
    font-size: 28px;
}

.subs-form {
    text-align: end;
    max-width: 523px;
    justify-content: center;
    margin-top: 40px;
}

.subs-form input {
    width: 90%;
    padding: 10px 30px;
}
.subs-form input:first-child {
    padding: 10px 30px;
    margin-bottom: 10px;
    /* border: none; */
}

.subs-form p {
    margin-top: 20px;
    font-size: 14px;

    text-align: end;
}

.btn {
    font-family: inherit;
    background-color: #cb9e61;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #cb9e61;
    font-size: 16px;
}

.btn:hover {
    background-color: #fff;
    color: #929496;
    border: 1px solid #8c8c8c;
}

/*  Section4 New season */

.sec4-new-season h1 {
    font-family: "Libre Baskerville", serif;
    color: #cb9e61;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 120px;
    text-align: center;
}

.decors-shape {
    position: absolute;
    width: 120px;
    bottom: 2%;
    left: -13%;
    z-index: -1;
}

.texture4 {
    top: 2%;
    right: 0%;
    position: absolute;
    /* width: 500px; */
    z-index: -1;
}

.decors-line {
    position: absolute;
    bottom: 32.2%;
    right: 0%;
}

.docors-bedroms-texture {
    position: absolute;
    top: 0%;
    left: -60%;
}

/* Boxes */

.decors {
    display: flex;
    text-align: center;
    justify-content: center;
    /* z-index: 3; */
    gap: 10px;
}

.decors-decors-box {
    align-items: flex-end;
    display: flex;
    position: relative;
}

.decors-decors-p {
    background-color: #8c8c8c;
    color: #fff;
    position: absolute;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

.decors-bedroms-box {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.decors-bedroms-bedp2 {
    font-family: "Libre Baskerville", serif;
    color: #cb9e61;
    font-size: 28px;
    text-align: left;
    padding: 36px;
}

.decors-bedroms-bedp {
    width: 100%;
    background-color: #8c8c8c;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.vaze-box {
    display: flex;
    position: relative;
    flex-basis: 280px;
}

.vaze-box-img {
    position: absolute;
    top: 100px;
    z-index: 15;
    width: auto;
}

/* Section 5 Do it yourself */

.sec5-do-it {
    margin: 150px 50px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-left: 150px;
}

.sec5-text {
    text-align: end;
}

.buff {
    margin-top: 60px;
}

.sec-imgs-big-img {
    position: relative;
}

.sec5-shape {
    position: absolute;
    bottom: -20%;
    left: 0%;
}

.sec5-rectangle {
    position: absolute;
    top: 2%;
}

.sec5-small-img {
    position: absolute;
    bottom: -30%;
    right: 10%;
    /* display: inline-block; */
}
.sec5-paint-shape {
    position: absolute;
    bottom: -10%;
    right: -25%;
    z-index: -1;
}

.sec5-rounder1 {
    position: absolute;
    top: 38%;
    right: -2%;
}

.sec5-rounder2 {
    position: absolute;
    top: 48%;
    right: -2%;
}

.sec5-rounder3 {
    position: absolute;
    top: 58%;
    right: -2%;
}

/* Section 6 Form */

.sec6-form {
    position: relative;
}

.sec6-box-img {
    position: relative;
}

.sec6-img {
    position: absolute;
    z-index: -1;
    top: 300px;
    right: 14.5%;
}

.sec6-box-img h3 {
    margin-top: 300px;
    font-family: "Libre Baskerville", serif;
    color: #cb9e61;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}

.sec6-box-form {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 590px;
    background: rgba(255, 255, 255, 0.6);
    margin: 210px auto;
    padding: 40px;
    position: relative;
}

.sec6-box-form input,
button {
    padding: 10px 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sec6-btn {
    font-family: "Libre Baskerville", serif;
    border: none;
    background-color: #cb9e61;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #cb9e61;
}

.sec6-btn:hover {
    background-color: #fff;
    color: #929496;
    border: 1px solid #8c8c8c;
}

.sec6-p {
    color: #808183;
    font-size: 16px;
}
.sec6-shape {
    position: absolute;
    bottom: -45%;
    right: 18%;
    z-index: -2;
}

.textureL {
    position: absolute;
    top: 0%;
    left: 0%;
}

.textureR {
    position: absolute;
    top: 0%;
    right: 0%;
}
