/* 
 --- COLLORS 
 #6cc497 
 */

/* - Spacing system (px)

 1 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
   

 */

/* NAVIGATION */
.header {
  border-top: 5px solid #6cc497;
  background-color: #290000;
  color: #fff;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 0;
}

.the-modernist {
  padding: 2.4rem 0;
}

.the-modernist-h1 {
  font-size: 2.4rem;
}

.the-modernist p {
  font-size: 1rem;
  color: #979797;
}

.main-nav-list {
  display: flex;
  list-style: none;
  /* align-items: center; */
  gap: 2.4rem;
  color: #fff;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* display: inline-block; */
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.2rem;
  border-radius: 9px;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
  background-color: #6cc497;
  transition: all 0.3s;
}

/* SECTION SLIDER */
.section {
  background-color: #290000;
}

.section-slider {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 105rem;
  padding: 0 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.text-block {
  color: #fff;
  width: 35%;
  padding-left: 5.2rem;
  position: relative;
  /* margin: auto; */
}

.slider-control-left {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #290000;
  color: #6cc497;
  font-size: 3.2rem;
  border: none;
  margin-right: 3rem;
}

.text-block h1 {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}

.text-block p {
  color: #979797;
  margin-bottom: 2.4rem;
}

.btn-slider {
  border-radius: 16px;
  background-color: #6cc497;
  color: #fff;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  border: none;
}

.image-holder {
  padding-right: 2.4rem;
  position: relative;
}

.image-holeder-oracle {
  font-size: 2.6rem;
  width: 38rem;
  height: 38rem;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid #6b6b6b;
  color: #fff;
  margin-bottom: 3.2rem;
  margin-right: 5.2rem;
}

.slider-control-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);

  background-color: #290000;
  border: none;
  color: #6cc497;
  font-size: 3.2rem;

  margin-right: 2rem;
}
